* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Tahoma, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    background: #1f2937;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    height: 100px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    color: #e5e7eb;
    height: 60px;
    background-color: #1f2937;
}

.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover {
    color: #3381ed;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    max-height: 400px;
}

.header img {
    margin-left: 100px;
}

.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.button1 {
  background-color: #3882f6; 
  border: none;
  color: #e5e7eb;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  width: 36%;
  margin-top: 25px;
  transition-duration: 0.4s;
}
    
.button1:hover {
   background-color: #2a66c7; 
   color: white;
}

.button2 {
    background-color: #3882f6; 
    border: 2px solid #eee;
    color: #e5e7eb;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    width: 150%;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: #2373f3; 
    color: white;
 }

.info {
    background-color: #ffffff;
    color: #000000;
}

.images {
    background-color: #ffffff;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 25px;
    height: 420px;
}

.images div {
    width: 175px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb ;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
} 


.calltoaction {
    background-color: #ffffff;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 900px;
    border-radius: 10px;
}

.box2 div {
    padding: 75px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
}

