* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Tahoma, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    background: #1f2937;
}

/*img {
    max-width: 100%;
} */

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    height: 100px;
    /*margin-left: 440px;
    padding-top: 50px;*/
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    height: 400px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    color: #e5e7eb;
    height: 60px;
    background-color: #32507a;
}

.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover {
    color: #3381ed;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    max-height: 400px;
}

.header img {
   /* max-width: 400px; */
    margin-left: 100px;
}

.header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.button1 {
  background-color: #3882f6; 
  border: none;
  color: #e5e7eb;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  width: 20%;
  margin-top: 25px;
  transition-duration: 0.4s;
}
    
.button1:hover {
   background-color: #2a66c7; 
   color: white;
}

.button2 {
    background-color: #3882f6; 
    border: 2px solid #eee;
    color: #e5e7eb;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    width: 20%;
    margin-top: 25px;
    transition-duration: 0.4s;
}

.info {
    background-color: #eee;
    color: #000000;
    
}


/*.box {
    max-width: 1100px;
    height: 200px;
    margin: 0 auto;
    padding: 0 30px;
    
}*/

.images {
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px;
    
}

.cards {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 15px;
   
}





.card {
    display: flex;
   
    background-color: rgb(182, 148, 214);
    width: 200px;
}

.quote {
    background-color: #e5e7eb ;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
} 


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 200px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3882f6;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    padding: 50px;
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
}

